.App {
  text-align: center;
}

.form-input{
  width: auto;
  max-width: 500px;
  margin: auto;
  border-left: #3D85D8 solid;
  border-top: #3D85D8 solid;
}


/* floating input filed */

.floating-label-content { 
  position:relative; 
  margin-bottom:20px;
  margin: 1rem; 
}
.floating-label {
  color:#1e4c82; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:15px;
  top:11px;
  padding:0 5px;
  background:#fff;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.floating-input{
  font-size:16px;
  display:block;
  width:100%;
  padding:  14px;
  color: #323840;
  border: 1px solid #3D85D8;
  border-radius: 4px;
  box-sizing: border-box;
  &:focus{
    outline:none;
    ~ .floating-label{
      top:-8px;
      font-size:16px;
    }
  }
}
.floating-input:not(:placeholder-shown) ~ .floating-label {
  top:-8px;
  font-size:16px;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.list-group-item{
  text-align: left;

}
.discount-lbl{
	font-size: 14px!important;
	font-style: italic;
	text-decoration: line-through;
}